<div>
  <section class="container panel panel-default">
    <div class="row panel-body">
      <div class="col-xs-3" ng-repeat="player in dashboard.game.players">
        <h3 ng-click="player.changeName()">
          <img class="w3" ng-src="{{ player.avatar }}"> {{ player.name }}
        </h3>
        <ul class="list pl0 cf">
          <li class="fl">Total: <span>{{ player.total }}</span></li>
          <li class="fr">$:100</li>
        </ul>
        <input class="form-control" type="number" placeholder="Score..." ng-model="player.score">
      </div>
    </div>
    <div class="row panel-footer">
      <button class="btn btn-success" ng-click="dashboard.tally()">Submit Scores</button>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <table class="table table-bordered table-striped table-hover">
        <tr>
          <th class="w-20" ng-repeat="player in dashboard.game.players">{{ player.name }}</th>
        </tr>
        <tr ng-repeat="round in dashboard.game.rounds | orderBy : '-created'">
          <td>{{ round[0] }}</td>
          <td>{{ round[1] }}</td>
          <td>{{ round[2] }}</td>
          <td>{{ round[3] }}</td>
        </tr>
        
      </table>
    </div>
  </section>
</div>