<div>
  <form name="scoreForm" novalidate class="container panel panel-default" ng-submit="scoreForm.$valid && dashboard.tally(scoreForm)">
    <div class="row panel-body">
      <div class="col-xs-3" ng-repeat="player in dashboard.game.players">
        <h3 ng-click="player.changeName()">
          <img class="w3" ng-src="{{ player.avatar }}"> {{ player.name }}
        </h3>
        <ul class="list pl0 cf">
          <li class="fl">Total: <span>{{ player.total }}</span></li>
          <li class="fr">Score: {{ player.score }}</li>
        </ul>
        <div ng-class="{'has-success': scoreForm[player.id].$valid ,'has-error': scoreForm[player.id].$invalid && scoreForm[player.id].$touched}">
        <input class="form-control" name="{{player.id}}" type="number" placeholder="Number of cards..." ng-model="player.numOfCards" required integer max="13" min="0">
        </div>
      </div>
    </div>
    <div class="row panel-footer">
      <button class="btn btn-success" type="submit" ng-disabled="scoreForm.$invalid && scoreForm.$dirty">Submit Scores</button>

      <span class="text-danger" ng-show="scoreForm.$invalid && scoreForm.$dirty">check your inputs</span>
    </div>
  </form>
  <section class="container">
    <div class="row">
      <table class="table table-bordered table-striped table-hover">
        <tr>
          <th class="w-20" ng-repeat="player in dashboard.game.players">{{ player.name }}</th>
        </tr>
        <tr ng-repeat="round in dashboard.game.rounds | orderBy : '-created'">
          <td>{{ round[0] }}</td>
          <td>{{ round[1] }}</td>
          <td>{{ round[2] }}</td>
          <td>{{ round[3] }}</td>
        </tr>
        
      </table>
    </div>
  </section>
</div>