<div>
  <section class="container panel panel-default">
    <div class="row panel-body">
      <div class="col-xs-3" ng-repeat="player in dashboard.game.players">
        <h3 ng-click="player.changeName()">{{ player.name }}</h3>
        <input class="form-control" type="number" placeholder="Score..." ng-model="player.score">
      </div>
    </div>
    <div class="row panel-footer">
      <button class="btn btn-success" ng-click="dashboard.tally()">Submit Scores</button>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <table class="table">
        <tr>
          <th>13</th>
          <th>12</th>
          <th>2</th>
          <th>3</th>
        </tr>
        <tr ng-repeat="round in dashboard.game.rounds | orderBy : reverse">
          <td>{{ round[0] }}</td>
          <td>{{ round[1] }}</td>
          <td>{{ round[2] }}</td>
          <td>{{ round[3] }}</td>
        </tr>
        
      </table>
    </div>
  </section>
</div>